/* BLOCKS */

div.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

div#variablebox {
    display: block;
    float: left;
    width:470px;
    padding:5px;
}

div#infometro {
    display: block;
    float: left;
    width: 470px;
    height: 300px;
    padding: 5px;
}

/* MENU */

#valueselect {
    margin-left: auto;
    margin-right: auto;
}

/* TEXT */

h1, p, ul {
    text-align:left;
    line-height:100%;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    line-height:40%;
}

p, ul {
    font-size: 80%;
}

/* MAP */

.counties {
    fill: none;
}

.states {
    fill: none;
    stroke-linejoin: round;
}

